@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif !important;
}
.ant-switch-checked {
  background-color: #01020c;
}

.nav-icon {
  padding: 5px;
  margin-right: 4px;
}

.black .ant-table-cell {
  background-color: rgb(22, 23, 24);
  color: white;
}

.black .ant-table-body .ant-table-cell {
  background-color: rgb(8, 28, 71);
  color: rgb(15, 233, 168);
}

.black .ant-table-body .ant-table-cell:hover {
  color: black;
}

.ReactCrop{
  max-width: 600px !important;
  max-height: 600px !important;
}