@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif !important;
}
.ant-switch-checked {
  background-color: #01020c;
}

.nav-icon {
  padding: 5px;
  margin-right: 4px;
}
